.containerPartners
  .partnersHeader
    | Meet a partner for your best holiday
  .listPeople
    img(src='./images/Bitmap5.png', alt='')
    img(src='./images/Bitmap6.png', alt='')
    img(src='./images/Bitmap7.png', alt='')
    img(src='./images/Bitmap8.png', alt='')
  .listsvg
  .listPeopleName
    a Bradley Hunter
    a Marie Bennett
    a Diana Wells
    a Christopher Pierce
  .listInfoPeople
    a Based in Chicago. I love playing tennis and loud music.
    a Currently living in Colorado. Lover of art, languages and travelling.
    a
      | Living in Athens, Greece. I love black and white classics, chillout music and green tea.
    a Star Wars fanatic. I have a persistent enthusiasm to create new things.
  .listPeopleButton
    button See other partners
