.containerActivityIdeas
  .activityIdeasHeader Discover holiday activity ideas
  .activityIdeasimg.activityIdeasimg1
    img(src='./images/Bitmap9.png', alt='')
    a.headerText1 Sports and Activis
    img(src='./images/Bitmap10.png', alt='')
    a.headerText2 Wellness and Health
    img(src='./images/Bitmap11.png', alt='')
    a.headerText3
      | Extreme Sports
      | and Expeditions
  .activityIdeasimg.activityIdeasimg2
    img(src='./images/Bitmap12.png', alt='')
    a.headerText4 Games
    img.rrr1(src='./images/Bitmap13.png', alt='')
    a.headerText5 Culture and Education
  .activityIdeasimg.activityIdeasimg3
    img(src='./images/Bitmap14.png', alt='')
    a.headerText6 Enjomet and Relaxation
    img.rrr(src='./images/Bitmap15.png', alt='')
    a.headerText7 Trevelling
