.header2 How Dreamshare works?
.containerhowItWorks
  .howItWorks
    .howItWorksimg1.howItWorksimg
      button.step1.step Step 1
      .text1howItWorks.texthowItWorks
        | Sed leo enim, condimentum
      .texthowItWorksless
        | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec
        | rhoncus a leo sit amet facilisis.
    .howItWorksimg2.howItWorksimg
      button.step2.step Step 2
      .text2howItWorks.texthowItWorks
        | Morbi velit risus
      .texthowItWorksless.texthowItWorksless2
        | Nulla venenatis tempor dui in molestie. Nulla quis
        | dictum purus, sit
        | amet porttitor est.
    .howItWorksimg3.howItWorksimg
      button.step3.step Step 3
      .text3howItWorks.texthowItWorks
        | Sed leo enim, condimentum
      .texthowItWorksless
        | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec
        | rhoncus a leo sit amet facilisis.
