.footer
  .dreamshareFooter DREAMSHARE
  .companyFooter
    a Company
    a About
    a Contact
    a Press
    a Blog
    a Terms and Privacy
    a Help
  .partnersFooter Partners
  .logoFooter
    a DESIGNED BY
    .logoFooterimg
      img(src='./images/Bitmap16.png', alt='')
