header
  .dreamshare DREAMSHARE
  .login Log in
  .signup
    button Sign up
  .textheader1 SHARE YOUR HOLIDAY DREAM
  .textheader2 And find the perfect partner to fullfill it
  .textheader3
    button Find your holiday partner
