doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Document
  link(rel="stylesheet", href="./styles/main.min.css")
body 
  block header 
      include header 
  block contentfirst 
      include contentfirst 
  block contentsecond 
      include contentsecond 
  block contentthird 
      include contentthird  
  block contentforth
      include contentforth
  block footer 
      include footer 
      script(src="./scripts/index.min.js") 